.svg-basket-dims {
	width: 20px;
	height: 20px;
}

.svg-ci1-dims {
	width: 32px;
	height: 32px;
}

.svg-ci2-dims {
	width: 23px;
	height: 23px;
}

.svg-ci3-dims {
	width: 30px;
	height: 30px;
}

.svg-close-dims {
	width: 14px;
	height: 14px;
}

.svg-d_pdf-dims {
	width: 42px;
	height: 39px;
}

.svg-d_txt-dims {
	width: 37px;
	height: 37px;
}

.svg-dd-dims {
	width: 83px;
	height: 28px;
}

.svg-email-dims {
	width: 10px;
	height: 10px;
}

.svg-marker-dims {
	width: 8px;
	height: 10px;
}

.svg-minus-dims {
	width: 13px;
	height: 13px;
}

.svg-p1-dims {
	width: 10px;
	height: 10px;
}

.svg-p2-dims {
	width: 10px;
	height: 10px;
}

.svg-phone-dims {
	width: 10px;
	height: 10px;
}

.svg-plus-dims {
	width: 13px;
	height: 13px;
}

.svg-ruble-dims {
	width: 9px;
	height: 10px;
}

.svg-ruble_a-dims {
	width: 10px;
	height: 13px;
}

.svg-ruble_ms-dims {
	width: 9px;
	height: 12px;
}

.svg-table_filter-dims {
	width: 10px;
	height: 16px;
}

.svg-trash-dims {
	width: 30px;
	height: 30px;
}

