.svg-basket-dims {
	width: 20px;
	height: 20px;
}

.svg-email-dims {
	width: 10px;
	height: 10px;
}

.svg-marker-dims {
	width: 8px;
	height: 10px;
}

.svg-phone-dims {
	width: 10px;
	height: 10px;
}

