body {
    font-family: 'ALS Ekibastuz';
    &.is--aside {
        .navbar-aside {
            transform: none;
        }
    }
    &.is--overlay {
        .overlay {
            display: block;
        }
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(#000, .5);
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select::-ms-expand {
    display: none;
}

.c-scroll {
    padding-right: 50px;
    .scroll-bar.vertical {
        width: 2px;
        background: #E5E5E5;
    }
    .thumb {
        width: 14px !important;
        background: #fff;
        left: -6px;
        border-radius: 107px;
        box-sizing: border-box;
        border: 2px solid #E80D0D;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
        &::after {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: $c-primary;
            position: absolute;
            left: 3px;
            top: 3px;
        }
    }
}

@media (max-width: 1200px) {
    .c-scroll {
        padding-right: 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}