@font-face {
    font-family: 'ALS Ekibastuz';
    src: url('../../fonts/ALSEkibastuz-Black.woff2') format('woff2'),
        url('../../fonts/ALSEkibastuz-Black.woff') format('woff'),
        url('../../fonts/ALSEkibastuz-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Ekibastuz';
    src: url('../../fonts/ALSEkibastuz-Bold.woff2') format('woff2'),
        url('../../fonts/ALSEkibastuz-Bold.woff') format('woff'),
        url('../../fonts/ALSEkibastuz-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Ekibastuz';
    src: url('../../fonts/ALSEkibastuz-Regular.woff2') format('woff2'),
        url('../../fonts/ALSEkibastuz-Regular.woff') format('woff'),
        url('../../fonts/ALSEkibastuz-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Ekibastuz';
    src: url('../../fonts/ALSEkibastuz-Heavy.woff2') format('woff2'),
        url('../../fonts/ALSEkibastuz-Heavy.woff') format('woff'),
        url('../../fonts/ALSEkibastuz-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}