.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 9999999999;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.54);
    text-align: center
}

.blocker:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em
}

.blocker.behind {
    background-color: transparent
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 605px;
    box-sizing: border-box;
    width: 90%;
    background-color: #FFFFFF;
    text-align: center;
    padding: 45px 85px;
    &.is--success {
        padding: 100px 85px;
        .modal__heading {
            margin-bottom: 0;
        }
    }
    &__heading {
        margin-bottom: 30px;
        &__text {
            font-size: 36px;
            font-weight: bold;
        }
        &__sub {
            padding-top: 15px;
        }
    }
    &__form {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        &__field {
            margin-bottom: 10px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
            input {
                width: 100%;
                &[type="text"],
                &[type="email"],
                &[type="password"] {
                    border-color: $c-primary;
                    &::placeholder {
                        font-weight: bold;
                    }
                }
            }
            button {
                width: 100%;
                margin-top: 20px;
                min-height: 54px;
            }
        }
        &__cop {
            padding-top: 20px;
            font-size: 14px;
            line-height: 133.7%;
        }
    }
    &-close {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.modal a.close-modal {
    display: none;
}

.modal-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 12px 16px;
    border-radius: 5px;
    background-color: #111;
    height: 20px
}

.modal-spinner>div {
    border-radius: 100px;
    background-color: #fff;
    height: 20px;
    width: 2px;
    margin: 0 1px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out
}

.modal-spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.modal-spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s
}

.modal-spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.5)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5)
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0)
    }
}

@media (max-width: 768px) {
    .modal {
        width: 100%;
        padding: 35px 20px !important; 
        &__heading {
            &__text {
                font-size: 20px;
            }
            &__sub {
                font-size: 14px;
                padding-top: 5px;
            }
        }
        &__form {
            &__cop {
                font-size: 13px;
            }
        }
    }
}