.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99999;
    transition: .25s all ease;
    &.is--hidden {
        transform: translateY(-200px);
    }
    &__top {
        background: #F8F8F8;
        &__inner {
            height: 70px;
            display: flex;
            align-items: center;
        }
        &__right {
            margin-left: auto;
            height: 100%;
            ul {
                display: flex;
                height: 100%;
                li {
                    margin-left: 35px;
                    height: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        color: #000;
                        font-weight: bold;
                        transition: .25s all ease;
                        span.is--icon {
                            margin-right: 7px;
                        }
                        &:hover {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
        &__address {
            display: flex;
            align-items: center;
            span.is--icon {
                margin-right: 10px;
            }
        }
    }
    &__main {
        &__inner {
            display: flex;
            height: 130px;
            align-items: center;
        }
        &__logo {
            min-width: 154px;
            width: 154px;
            margin-right: 40px;
        }
        &__nav {
            width: 100%;
            display: flex;
            &__search {
                width: 100%;
                &__field {
                    display: flex;
                    position: relative;
                    &::after {
                        content: url(../../img/search.svg);
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        margin-top: -9px;
                    }
                    input[type="text"] {
                        width: 100%;
                        border-right: 0;
                        padding-left: 50px;
                        position: relative;
                        z-index: 5;
                        background: transparent;
                    }
                    button {
                        min-width: 190px;
                        width: 190px;
                    }
                }
            }
            &__basket {
                margin-left: 30px;
                a {
                    height: 100%;
                }
            }
        }
        &__mobile {
            display: none;
            margin-left: auto;
            button {
                padding: 0;
                border: 2px solid $c-primary;
                padding: 3px;
                display: flex;
                align-items: center;
                span.hamburger-box {
                    width: 30px;
                }
                span.hamburger-inner {
                    background-color: $c-primary !important;
                    height: 2px;
                    width: 30px;
                    &::before,
                    &::after {
                        background-color: $c-primary !important;
                        height: 2px;
                        width: 30px;
                    }
                    &::before {
                        top: -8px;
                    }
                    &::after {
                        bottom: -8px;
                    }
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        &__inner {
            height: 65px;
            ul {
                display: flex;
                height: 100%;
                li {
                    height: 100%;
                    width: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        width: 100%;
                        justify-content: center;
                        color: #000;
                        font-weight: bold;
                        font-size: 18px;
                        transition: .25s all ease;
                        &:hover {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
    }
    &-aside {
        position: fixed;
        height: calc(100vh - 71px);
        left: 0;
        top: 71px;
        max-width: 400px;
        width: 100%;
        background: #fff;
        padding: 40px 30px;
        overflow: auto;
        display: none;
        transform: translateX(-100%);
        transition: .35s all ease;
        z-index: 99999;
        &__menu {
            margin-bottom: 25px;
            ul {
                li {
                    a {
                        height: 100%;
                        width: 100%;
                        color: #000;
                        font-weight: bold;
                        font-size: 18px;
                        transition: .25s all ease;
                        display: block;
                        padding: 7px 0;
                        &:hover {
                            color: $c-primary;
                        }
                    }
                    &.devider {
                        max-width: 100px;
                        width: 100%;
                        height: 1px;
                        background: #E5E5E5;
                        margin: 7px 0;
                    }
                }
            }
        }
        &__search {
            position: relative;
            margin-bottom: 25px;
            form {
                input[type="text"] {
                    width: 100%;
                }
                button {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    padding: 0 15px;
                    border: 0;
                    background: transparent;
                }
            }
        }
        &__info {
            ul {
                li {
                    padding: 5px 0;
                    font-size: 14px;
                    a {
                        color: $c-primary;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .navbar {
        &__main {
            &__nav {
                &__search {
                    &__field {
                        button {
                            min-width: 120px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1025px) {
    .navbar {
        transform: none !important;
        &__top,
        &__bottom {
            display: none;
        }
        &__main {
            border-bottom: 1px solid #E5E5E5;
            &__inner {
                height: 70px;
            }
            &__nav {
                display: none;
            }
            &__mobile {
                display: block;
            }
            &__logo {
                min-width: 0;
                max-width: 70px;
                width: 100%;
            }
        }
        &-aside {
            display: block;
        }
    }
}